.button {
    width: 165px;
    height: 45px;
    background-color: #ec644b;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    &:hover{
        background-color: #dc5238;
    }
    &_big{
        width: 230px;
        height: 57px;
        font-size: 15px;
    }
    &_questions{
        
        width: 180px;
    }
}

