.consultation{
    position: relative;
    padding: 56px 0 80px;
    &__header{
        font-size: 28px;
        text-align: center;
        color: #3a3a3a;
      
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 140px;
        height: 120px;
        background: #ffffff;
        transform: translateX(-50%);
        top: 106px;
        left: 50%;
        z-index: 1;
    }
    &__round{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 110px;
        border: solid 1px $main-color;
        border-radius: 100%;
        
    }
    &-wrapper{
        margin-top: 71px;
        padding-top: 68px;
        width: 100%;
        min-height: 166px;
        border: solid 1px rgba(137, 137, 137, 0.71); ;
        

        &__btn{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            bottom: 55px;
            width: 200px;
            height: 45px;
            background: #ffffff;
            transform: translateX(-50%);
        }
        
    }

}