.menu{
    position: absolute;
    width: 100%;
    padding-top: 23px;
    display: flex;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__links{
        margin-top: 27px;
        display: flex;
        list-style-type: none;  
    }
    &__item{
        border-right: 1px dotted rgba($color: #fff, $alpha: .4);
        padding:0 13px 0;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            border:none;
            padding-right: 0;
        }
    }
    &__link{
        color: #fff;
        line-height: 1.13;
        font-weight: 400;
        line-height: 1.13;
        color: #ffffff;
        &:hover{
            color: #ec644b;
            
        }
    }
    &-phone{
        margin-top: 14px;
        display: flex;
        &__subheader{
            margin-right: 19px;
            font-size: 14px;
            font-weight: 300;
            text-align: right;
            color: #ffffff;  
            span{
                
                font-size: 19px;
                font-weight: bold;
                a{
                    color: #ffffff;
                    &:hover{
                        color: $main-color;
                    }
                }

            }
            
        }
      
    }
}