@import "bootstrap-reboot";
@import "bootstrap-grid";
@import "fonts";
@import "var";
@import "title";
@import "h1";
@import "line";
@import "subheader";
@import"slick";

* {font-family: 'Roboto', sans-serif;}
@import "button";
@import "menu";
@import "modal";
@import "animations";
@import "promo";
@import "advantages";
@import "job";
@import "info";
@import "delivery";
@import "consultation";
@import "forms";
@import "patern";
@import "carousel";
@import "questions";
@import "footer";
@import "pageup";


@import "media";